# -*- coding:utf-8 -*-

# ######################################
#   Imports
# ######################################

from datetime import timedelta

# ######################################
#  Default flask parameters
# ######################################

DEBUG                      = True
SECRET_KEY                 = 'replace-me-with-random-secret-key'
PERMANENT_SESSION_LIFETIME = timedelta(days=1)
BABEL_DEFAULT_LOCALE       = 'fr_FR'
